<div class="row">
  <dl class="sub-nav">
    <dt>Filtrar:</dt>
    <dd class="active"><a href="#">Todo</a></dd>
    <dd><a href="#">Empresa</a></dd>
    <dd><a href="#">Estado</a></dd>
    <dd class="hide-for-small-only"><a href="#">Municipio</a></dd>
  </dl>
  <a href="#" class="button small radius" role="button" data-reveal-id="fourModal"><span class="splik_icon-plus"> </span>Nuevo Producto</a>
    <p>Mostrando 0 Resultados</p>
</div>
