<form data-abide>
  <div class="small-6 large-6 columns">
    <div class="name-field">
      <label>Empresa <small>* requerido</small>
        <input type="text" required pattern="[a-zA-Z]+" placeholder="Ejemplo: Impuestaria S.C.">
      </label>
      <small class="error">Se requiere un nombre valido, no puede estar vacío.</small>
    </div>
  </div>
  <div class="small-6 large-6 columns">
    <div class="email-field">
      <label>Email <small>* requerido</small>
        <input type="email" required placeholder="Ejemplo: hola@impuestaria.com.mx">
      </label>
      <small class="error">Se requiere un correo valido.</small>
    </div>
  </div>
  <div class="small-4 large-4 columns">
    <div class="rfc-field">
      <label>RFC <small>* requerido</small>
        <input type="text" required pattern="[a-zA-Z]+" placeholder="Ejemplo: HERR8211104W5">
      </label>
      <small class="error">Se requiere un RFC valido, no puede estar vacío.</small>
    </div>
  </div>
  <div class="small-4 large-4 columns">
    <div class="tel-field">
      <label>Telefono
        <input type="text" placeholder="Ejemplo: 55221113">
      </label>
    </div>
  </div>
  <div class="small-4 large-4 columns">
    <div class="tel-field">
      <label>URL
        <input type="text" placeholder="Ejemplo: www.impuestaria.mx">
      </label>
    </div>
  </div>
  <div class="small-12 large-12 columns">
    <fieldset>
    <legend><span class="splik_icon-map"> </span>Dirección</legend>
      <div class="large-6 columns">
        <label>Calle <small>* requerido</small>
          <input type="text" placeholder="Ejemplo: Justo Sierra">
        </label>
      </div>
      <div class="large-3 columns">
        <label>No. Interior <small>* requerido</small>
          <input type="text" placeholder="Ejemplo: 41">
        </label>
      </div>
      <div class="large-3 columns">
        <label>No. Exterior
          <input type="text" placeholder="Ejemplo: B">
        </label>
      </div>
      <div class="large-3 columns">
        <label>C.P.
          <input type="text" placeholder="Ejemplo: 06020">
        </label>
      </div>
      <div class="large-3 columns">
        <label>Del. o Mun.
          <input type="text" placeholder="Ejemplo: Cuauhtemoc">
        </label>
      </div>
      <div class="large-3 columns">
        <label>Estado
          <input type="text" placeholder="Ejemplo: Distrito Federal">
        </label>
      </div>
      <div class="large-3 columns">
        <label>Pais
          <input type="text" placeholder="Ejemplo: México">
        </label>
      </div>
  </fieldset>
  </div>
  <div class="large-12 columns">
    <button class="button expand success" type="submit"><span class="splik_icon-box" type="submit"></span> Guardar</button>
  </div>
</form>
