<div class="row">
  <div class="large-12">
    <h3>Facturacion Mayo 2015</h3>
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Cliente</th>
            <th>Tipo</th>
            <th>Fecha</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>0512</td>
            <td>Raul Noe Hernandez Rosas</td>
            <td>Factura</td>
            <td>08/052015</td>
            <td>$ 2025.00</td>
          </tr>
        </tbody>
      </table>
      <ul class="pagination" role="menubar" aria-label="Pagination">
        <li class="arrow unaviable" aria-disabled="true"><a href="">&laquo; Anterior</a></li>
        <li class="current"><a href="">1</a></li>
        <li><a href="">2</a></li>
        <li><a href="">3</a></li>
        <li class="unavailable" aria-disabled="true"><a href="">&hellip;</a></li>
        <li><a href="">6</a></li>
        <li><a href="">7</a></li>
        <li class="arrow"><a href="">Siguiente &raquo;</a></li>
      </ul>
      <a href="/invoice" class="button small radius" role="button" data-reveal-id="fiveModal"><span class="splik_icon-plus"> </span>Nueva Factura</a>
  </div>
</div>
