<% if( session.authenticated ) { %>
<section>
  <div class="icon-bar five-up">
    <a href="/setting" class="item">
      <i class="splik_icon-gears"></i>
    </a>
    <a href="/item" class="item">
      <i class="splik_icon-picture"></i>
    </a>
    <a href="/customer" class="item">
      <i class="splik_icon-profile-male"></i>
    </a>
    <a href="/invoice" class="item">
      <i class="splik_icon-layers"></i>
    </a>
    <a href="/report" class="item">
      <i class="splik_icon-linegraph"></i>
    </a>
  </div>
  <section>
    <div class="row">
      <div class="large-12">
        <h1>Mis datos</h1>
        <div class="large-12 medium-6 columns">
          <h2>Texto</h2>
        </div>
        <div class="large-12 medium-6 columns">
          <h2>Texto</h2>
        </div>
      </div>
    </div>

  </section>
</section>

<% } else { %>
<header>
  <div class="row">
    <div class="small-12 large-6">
      <h1>Genera tu facturación.</h1>
      <p>Te ofrecemos una plataforma completa, sin complicadas instalaciones y sistemas feos difíciles de manejar.</p>
    </div>
      <div class="large-12 columns">
        <div class="medium-6 large-4 right columns">
          <figure>
            <small>Integrado a:</small>
            <img src="images/Quickbooks.png" alt="">
          </figure>
        </div>
      </div>
      <div class="large-12 columns">
        <div class="medium-4 large-6 columns left text-center intext">
          <a href="/register" class="button alert expand radius"><span class="splik_icon-heart2"> </span>Regístrate.</a>
        </div>
        <div class="small-12 medium-4 large-4 columns right intext1">
          <p><small></small></p>
        </div>
      </div>
  </div>
</header>
<% } %>
