<% if( session.authenticated ) { %>
<section>
  <div class="icon-bar five-up">
    <a class="item">
      <i class="splik_icon-gears"></i>
      <label for="">Mis datos</label>
    </a>
    <a class="item">
      <i class="splik_icon-picture"></i>
      <label for="">Catalogo</label>
    </a>
    <a class="item">
      <i class="splik_icon-profile-male"></i>
      <label for="">Personas</label>
    </a>
    <a class="item">
      <i class="splik_icon-layers"></i>
      <label for="">Facturas</label>
    </a>
    <a class="item">
      <i class="splik_icon-linegraph"></i>
      <label for="">Reportes</label>
    </a>
  </div>


  <div class="row">
    <div class="small-12 large-6">
      <h1>Cuenta de usario.</h1>
    </div>
    <div class="large-12 columns">
      <p>Datos de la cuenta.</p>
    </div>
  </div>
</section>

<% } else { %>
<header>
  <div class="row">
    <div class="small-12 large-6">
      <h1>Genera tu facturación.</h1>
      <p>Te ofrecemos una plataforma completa, sin complicadas instalaciones y sistemas feos difíciles de manejar.</p>
    </div>
      <div class="large-12 columns">
        <div class="medium-6 large-4 right columns">
          <figure>
            <small>Integrado a:</small>
            <img src="images/Quickbooks.png" alt="">
          </figure>
        </div>
      </div>
      <div class="large-12 columns">
        <div class="medium-4 large-6 columns left text-center intext">
          <a href="/register" class="button alert expand radius"><span class="splik_icon-heart2"> </span>Regístrate.</a>
        </div>
        <div class="small-12 medium-4 large-4 columns right intext1">
          <p><small></small></p>
        </div>
      </div>
  </div>
</header>
<% } %>
