<div class="row">
  <div class="panel">
    <h1>Bienvenido.</h1>
    <hr>
    <form role="form" method="post" data-abide>
      <div class="name-field">
        <label><span class="splik_icon-user4"> </span>Escribe tu nombre ó tu correo registrado.<small>* requerido</small>
          <input type="text" required pattern="[a-zA-Z]+"  placeholder="Ejemplo: Raúl ó hola@impuestaria.com.mx">
        </label>
        <small class="error">Se requiere un nombre valido, no puede estar vacío.</small>
      </div>
      <div class="password-field">
        <label><span class="splik_icon-lock"> </span>Contraseña <small>* requerido</small>
          <input type="password" id="password" required pattern="[a-zA-Z]+" placeholder="Por favor no uses 1234">
        </label>
        <small class="error">Su contraseña debe cumplir con los requisitos.</small>
      </div>
      <button type="submit" class="button alert expand radius"><span class="splik_icon-send"> </span>Inicia sesión.</button>
    </form>
  </div>
</div>
