<section>
  <div class="row">
    <div class="medium-12 columns center">
      <h1>TÉRMINOS Y CONDICIONES.</h1>
      <p>Todos los elementos que conforman el contenido de esta página Web, identificada por el dominio www.impuestaria.com.mx/  incluyendo los nombres comerciales, marcas ó signos distintivos que figuran en la misma, están protegidos por las leyes sobre Propiedad Intelectual.</p>
      <p>Los derechos de propiedad intelectual sobre los contenidos y diseño gráfico de ésta página Web pertenecen en exclusiva a Impuestaria Estrategias Fiscales, S.C., quedando expresamente prohibido su reenvío, transmisión, modificación, reproducción, distribución, comercialización ó transformación sin la autorización expresa y escrita de Impuestaria Estrategias Fiscales, S.C.</p>
      <p>En consecuencia, salvo el uso para fines personales ó privados, al que expresamente se autoriza al usuario, constituirá una infracción de los derechos de propiedad intelectual de Impuestaria Estrategias Fiscales, S.C., proceder, total ó parcialmente, al reenvío, transmisión, modificación, reproducción, distribución, comercialización y/ó transformación de los contenidos de la presente página Web, incurriendo el usuario en la responsabilidad correspondiente.</p>
      <p>Impuestaria Estrategias Fiscales, S.C. se reserva el derecho a denegar en cualquier momento a su discreción, y sin previo aviso, el acceso de cualquier usuario a la presente página Web o a una parte de la misma, cuando se efectúe un uso indebido, ilícito, ilegal ó no autorizado de sus contenidos.</p>
      <p>Impuestaria Estrategias Fiscales, S.C. se reserva igualmente el derecho a publicar ó retirar, total o parcialmente, cualesquiera información ó contenidos del servicio a su exclusiva discreción, quedando exonerada de cualquier responsabilidad por posibles daños o perjuicios derivados de interferencias, interrupciones, desconexiones, virus informáticos, sobrecargas de líneas, averías telefónicas ó del sistema de Internet ó de otros sistemas electrónicos, motivadas por causas ajenas a la misma.</p>
      <p>Impuestaria Estrategias Fiscales, S.C. tratará de mantener la información contenida en la presente página Web debidamente actualizada en la medida de sus posibilidades, quedando facultada para modificarla sin previo aviso a fin de corregir los eventuales errores que, en su caso, pudieren detectarse. Los datos referentes a los productos tienen carácter informativo. Manteniendo siempre las características básicas, nos reservamos el derecho de realizar, sin previo aviso, modificaciones técnicas, estéticas o de otro tipo, por razones de evolución de los productos en cuestión.</p>
      <p>Impuestaria Estrategias Fiscales, S.C. no asume responsabilidad alguna sobre la veracidad de contenidos u otras fuentes de información de terceros a las que los usuarios pudieren tener acceso por medio de los links que figuren ó pudieren figurar en sus páginas Web.</p>
      <h3>Confidencialidad y protección de datos</h3>
      <p>Impuestaria Estrategias Fiscales, S.C. pone en conocimiento del Usuario lo siguiente: que existe un fichero automatizado en el que se guardan los datos que usted proporcionó, creado por Impuestaria Estrategias Fiscales, S.C. para uso de la empresa y bajo su responsabilidad. El objeto de dicho fichero es mantener y gestionar la relación con el usuario y proporcionar información. Impuestaria Estrategias Fiscales, S.C. solicitará al usuario los datos necesarios para proporcionar el servicio en el momento de aceptar las citadas condiciones generales.</p>
      <h3>Registro de ficheros y formularios</h3>
      <p>Es imprescindible rellenar el formulario de registro para poder disfrutar de algunos de los servicios que se ofrecen en la web. Si usted no proporciona los datos solicitados o no está de acuerdo con esta política de protección de datos, no podrá apuntarse ni registrarse y tampoco podrá tomar parte en las promociones para las que sean necesarios sus datos.</p>
      <p>Los datos personales que se obtengan de usted cuando se registre como Usuario serán introducidos en un fichero cuyo propietario es Impuestaria Estrategias Fiscales, S.C. El RFC de la empresa es IEF-071203-7R1 y la dirección MARIANO ESCOBEDO NO. 543-402, COLONIA RINCON DEL BOSQUE, MÉXICO D.F. C.P. 11580. El fichero tiene implementadas las medidas de seguridad necesarias para la confidencialidad de los datos que le sean proporcionados a la empresa.</p>
      <h3>Precisión y veracidad de los datos proporcionados</h3>
      <p>El usuario es el único responsable de la precisión y veracidad de los datos. Impuestaria Estrategias Fiscales, S.C. queda eximida de toda responsabilidad a tal respecto. Serán los usuarios quienes garantizarán que los datos proporcionados sean auténticos, precisos, no hayan cambiado y continúen siendo los mismos. Adquirirán también el compromiso de mantenerlos actualizados. El usuario proporcionará información completa y correcta en el formulario de registro. Impuestaria Estrategias Fiscales, S.C. no se hará responsable de la veracidad de información de terceros ni de informaciones que citen otras fuentes. Tampoco se hará responsable de los hipotéticos daños que la utilización de dicha información pudiere causar.</p>
      <p>Impuestaria Estrategias Fiscales, S.C. se reserva el derecho de actualizar, modificar o borrar la información de las páginas-web JMA, así como el derecho de restringir o prohibir el acceso a ellas. Si la información viene de fuentes ajenas a la empresa, Impuestaria Estrategias Fiscales, S.C. no será responsable de ningún daño que el usuario pueda sufrir como resultado de errores, fallos u omisiones en dicha información.</p>
      <h3>Política de cookies</h3>
      <p>En nuestra web utilizamos cookies para mejorar tu experiencia de usuario. Si navegas por nuestro sitio web, estarás aceptando el uso de las cookies en las condiciones establecidas en la presente Política de Cookies. Esta política puede ser actualizada, por lo que te invitamos a revisarla de forma regular.</p>
      <h3>¿Qué son y para qué sirven las cookies?</h3>
      <p>Las Cookies son pequeños archivos que se instalan en el ordenador o en el dispositivo durante el recorrido por las páginas web/aplicaciones para mantener un registro de tus preferencias y recordarlas cuando vuelva a visitarnos. El objetivo es facilitar el uso y la navegación de los usuarios.</p>
      <h3>¿Cómo utilizamos las cookies?</h3>
      <p>Navegar por el web de Impuestaria supone que se puedan instalar los siguientes tipos de cookies:</p>
      <ul>
        <li>
          <h3>Cookies imprescindibles</h3>
          <h4>Son estrictamente necesarias para el funcionamiento de un sitio web. Sin ellas, un sitio web no puede funcionar correctamente. Por ese motivo, no solicitamos su consentimiento explícito respecto a estas cookies.</h4>
        </li>
        <li>
          <h3>Cookies funcionales</h3>
          <h4>Sirven para mejorar la funcionalidad del sitio web. Se trata, por ejemplo, de cookies que recuerdan el contenido que has visualizado anteriormente en este sitio web o la dirección de correo electrónico y la contraseña proporcionada durante el registro en una visita anterior.</h4>
        </li>
        <li>
          <h3>Cookies analíticas propias o de terceros</h3>
          <h4>Nos facilitan información estadística sobre el uso que los usuarios realizan del portal. Estas cookies no permiten identificar al usuario, puesto que la información que recogen es anónima y será utilizada únicamente para mejora de las páginas y de navegación por el portal, estadísticas de uso, velocidad de las búsquedas, medición de la actividad del sitio web, etc. Este web utiliza la herramienta gratuita de análisis web Google Analytics. Si quieres más información puedes encontrarla aquí: <a href="https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage"> https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage</a></h4>
        </li>
      </ul>
      <h3>¿Cómo puede evitar que se instalen las cookies?</h3>
      <p>Puedes permitir, bloquear o eliminar las cookies instaladas en tu equipo mediante la configuración de las opciones de su navegador de internet. En el caso en que las bloquees, es posible que ciertos servicios que necesitan su uso no estén disponibles.</p>
      <p>A continuación te ofrecemos enlaces en los que encontrarás información sobre cómo puede activar sus preferencias en los principales navegadores:</p>
        <ul>
          <li><a href="https://support.mozilla.org/es/kb/cookies-informacion-que-los-sitios-web-guardan-en-">Cookies Firefox</a></li>
          <li><a href="https://support.google.com/chrome/answer/95647?hl=es">Cookies Chrome</a></li>
          <li><a href="http://windows.microsoft.com/es-xl/internet-explorer/delete-manage-cookies#ie=ie-11">Cookies IExplorer</a></li>
          <li><a href="http://support.apple.com/kb/ph5042">Cookies Safari</a></li>
          <li><a href="http://help.opera.com/Linux/10.60/es-ES/cookies.html">Cookies Opera</a></li>
        </ul>
      <h3>Medidas de seguridad</h3>
      <p>Impuestaria Estrategias Fiscales, S.C. ha tomado las medidas de seguridad necesarias para proteger datos personales. Además, tratamos de instalar otras medidas y recursos técnicos a nuestra disposición para almacenar correctamente los datos proporcionados a Impuestaria Estrategias Fiscales, S.C. y para que nadie pueda utilizarlos con mala fe, modificarlos, perderlos, utilizarlos sin permiso o robarlos. Impuestaria Estrategias Fiscales, S.C. no será responsable de ningún daño si ha sido causado por las siguientes causas y si el causante es ajeno a Impuestaria Estrategias Fiscales, S.C.: interferencia, omisión, interrupción, virus informático, avería telefónica o desconexión del sistema electrónico; retrasos u obstáculos para utilizar el sistema electrónico por sobrecarga en las líneas telefónicas o en otros sistemas electrónicos.</p>
      <p>Además de lo anterior, Impuestaria Estrategias Fiscales, S.C. tampoco será responsable si alguien fuera de su control manipula los datos. De todos modos, el Usuario debe saber que las medidas de seguridad de internet no son infranqueables.</p>
      <h3>Aceptación y consentimiento</h3>
      <p>El usuario debe estar al corriente de las condiciones para la protección de datos y del tratamiento para tales efectos de Impuestaria Estrategias Fiscales, S.C. Algunos de los servicios ofertados en el portal pueden tener condiciones especiales y supuestos específicos en cuanto a protección de datos.</p>
      <p>Para cuanto se refiere a la interpretación, cumplimiento o incumplimiento de las presentes condiciones, los intervinientes se someten expresamente a la Jurisdicción de los Juzgados y Tribunales del Distrito Federal, con renuncia también expresa a cualquier otro fuero propio que pudiera corresponderles.</p>
    </div>
  </div>
</section>
